// @include fontface('Regular', '../../../public/fonts/regular.woff', 'woff');
// @include fontface('Medium', '../../../public/fonts/medium.woff', 'woff');

// $freg: 'Regular', sans-serif;
// $fmed: 'Medium', sans-serif;

@mixin body14 {
  font-size: 14px;
  line-height: 20px;
}

@mixin body16 {
  font-size: 16px;
  line-height: 24px;
}

@mixin body18 {
  font-size: 18px;
  line-height: 26px;
}

@mixin heading20 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

@mixin heading24 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

@mixin heading32 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

@mixin heading40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 450;
  letter-spacing: -0.4px;
}

@mixin heading48 {
  font-size: 48px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: -0.4px;
}

@mixin heading64 {
  font-size: 64px;
  line-height: 66px;
  font-weight: 500;
  letter-spacing: -0.4px;
}

.body16 {
  font-size: 16px;
  line-height: 24px;
}

.body18 {
  font-size: 18px;
  line-height: 26px;
}

.heading40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 450;
  letter-spacing: -0.4px;
}
