.page-about {
  .intro-hero {
    height: 90vh;
    max-height: 800px;
    background-image: url("/images/about-hero.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 60vw !important;
      max-width: 700px;
      height: unset !important;
      // display: none;
    }
  }

  .our-mission {
    padding: 32px 0;

    .wrapper {
      .heading {
        padding-bottom: 24px;
        font-size: 18px;
      }

      .body {
        max-width: 1000px;
        @extend .heading40;
      }
    }

    @media screen and (max-width: 900px) {
      .wrapper {
        .heading {
          @include body16;
        }
        .body {
          @include heading32;
        }
      }
    }
  }

  .terrasage-values {
    background-color: #f7ebed;

    .wrapper {
      display: flex;

      .values-desc {
        .heading {
          @include heading40;
          padding-bottom: 40px;
        }

        .body {
          font-size: 18px;
          line-height: 26px;
          width: 80%;
        }
      }

      .values-list {
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding: 90px 0;

        .value {
          display: flex;
          gap: 20px;

          &-image {
            background-color: white;
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            flex-grow: 1;
            border-radius: 16px;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 48px;
              height: 48px;
            }
          }

          &-name {
            font-size: 24px;
            margin-bottom: 8px;
            font-weight: 500;
          }

          &-desc {
            @include body18;
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      .wrapper {
        display: block;
        .values-desc {
          .heading {
            @include heading32;
            padding-bottom: 16px;
          }

          .body {
            width: 100%;
            @include body16;
          }
        }

        .values-list {
          padding: 64px 0;
          gap: 48px;

          .value {
            gap: 16px;

            &-image {
              width: 48px;
              height: 48px;
              padding: 8px;

              img {
                // width: 48px;
                // height: 48px;
              }
            }

            &-desc {
              @include body16;
            }
          }
        }
      }
    }
  }

  .careers {
    min-height: 600px;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 120px;
    }

    &-intro {
      h2 {
        @include heading40;
        margin-bottom: 24px;
      }
    }

    &-positions {
      .heading {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        p {
          flex-shrink: 0;
        }

        .line {
          width: 100%;
          border-top: 1px solid #1a1f21;
        }
      }

      .positions-list {
        .position {
          border: 1px solid #202629;
          padding: 24px;
          display: flex;
          border-radius: 16px;
          margin-bottom: 16px;
        }

        .no-position {
          color: #888;
          border: none;
          background-color: #f7f7f7;
        }
      }
    }

    @media screen and (max-width: 900px) {
      .wrapper {
        grid-template-columns: 1fr;
        gap: 64px;

        .careers-intro {
          h2 {
            @include heading32;
            margin-bottom: 16px;
          }

          p {
            @include body16;
          }
        }

        .careers-positions {
          @include body16;
        }
      }
    }
  }
}
