.page-investments {
  .page-intro {
    background-color: $lightblue;
    min-height: 480px;
    display: flex;
    align-items: center;

    h1 {
      @include heading64;
      font-weight: 450;
    }

    @media screen and (max-width: 720px) {
      h1 {
        @include heading48;
      }
    }
  }

  .investment-strategies {
    .wrapper {
      & > h2 {
        @include body18;
        padding-bottom: 24px;
      }
      & > p {
        @include heading40;
        padding-bottom: 96px;
        width: 70%;
      }

      .investment-detail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 48px;

        .index {
          position: sticky;
          top: 120px;

          .button {
            width: 100%;
            padding: 20px 24px;
            margin-bottom: 8px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            transition: all 300ms ease-in-out;

            .active-dot {
              display: inline-block;
              visibility: hidden;
              background-color: #85d1f2;
              width: 12px;
              height: 12px;
              border-radius: 999px;
              margin-right: 16px;
              transition: background-color 300ms ease-in-out;
            }

            &.active {
              background: #f0fafe;
              font-weight: 600;
              transition: all 300ms ease-in-out;

              .active-dot {
                visibility: visible;
              }
            }

            &:hover {
              cursor: pointer;
            }
          }
        }

        .content {
          grid-column: 2 / 5;
          padding: 48px;
          border: 1px solid #ddd;
          border-radius: 24px;

          .title {
            font-size: 64px;
            line-height: 66px;
            font-weight: 500;
            letter-spacing: -0.8px;
            margin-bottom: 96px;

            span {
              font-style: italic;
              display: block;
              font-weight: 300;
            }
          }

          .details-layout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
          }

          .details {
            padding-right: 16px;

            .sub-heading {
              font-weight: 600;
              // padding-top: 4px;
              padding-bottom: 4px;
              text-transform: uppercase;

              & + p {
                margin-bottom: 48px;
              }
            }

            & + img {
              height: 100%;
              height: 650px;
              width: 100%;
              object-fit: cover;
              border-radius: 16px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1200px) {
      .wrapper {
        & > p {
          @include heading32;
          padding-bottom: 48px;
          width: 100%;
        }

        .investment-detail {
          display: grid;
          grid-template-columns: 1fr;
          gap: 24px;

          .index {
            position: relative;
            top: 0px;
          }

          .content {
            grid-column: unset;
            padding: 32px 24px;

            .title {
              margin-bottom: 48px;
              @include heading40;
            }

            .details-layout {
              display: grid;
              grid-template-columns: 1fr;
              gap: 0px;
            }

            .details {
              padding-right: 0px;

              .sub-heading {
                font-weight: 600;
                // padding-top: 4px;
                padding-bottom: 4px;
                @include body16;

                & + p {
                  margin-bottom: 32px;
                  @include body16;
                }
              }
            }

            .main-image {
              max-height: 400px;
            }
          }
        }
      }
    }
  }
}
