.page-register {
  @include body18;
  min-height: 90vh;
  padding-top: 48px;

  .wrapper {
    max-width: 1300px;
  }
  h1 {
    @include heading40;
    padding-bottom: 40px;
  }

  p {
    @include body18;
    padding-bottom: 16px;
  }

  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }

  .customer-notice {
    // padding: 32px 0;
    // background-color: rgb(255, 229, 229);
    // border-radius: 16px;
    padding-bottom: 40px;

    h2 {
      @include heading24;
      padding-bottom: 8px;
    }
  }

  .stay-informed {
    padding: 32px;
    background-color: $lightblue;
    border-radius: 24px;

    h2 {
      @include heading24;
      padding-bottom: 8px;
    }

    .form-notify-me {
      padding-top: 24px;

      label {
        display: block;
        padding-bottom: 16px;

        p {
          padding-bottom: 4px;
        }
      }

      input {
        display: block;
        padding: 16px 20px;
        border-radius: 12px;
        width: 100%;
      }

      input[type="submit"] {
        background-color: $darkgrey;
        color: white;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .success-message {
      p:first-child {
        @include heading20;
      }

      p:last-child {
        @include body16;
        padding-bottom: 0;
      }

      margin-top: 16px;
      background-color: $darkgrey;
      color: white;
      padding: 32px;
      border-radius: 16px;
    }
  }

  @media screen and (max-width: 900px) {
    padding-top: 0px;

    h1 {
      @include heading32;
      padding-bottom: 32px;
    }

    p {
      @include body16;
    }

    .layout {
      grid-template-columns: 1fr;
      gap: 0px;
    }
  }
}
