.btn {
  display: inline-block;
  border-radius: 12px;
  background-color: #202629;
  color: white;
  font-size: 16px;

  &-sm {
    @extend .btn;
    padding: 12px 16px;
  }

  &-rg {
    @extend .btn;
    padding: 16px 24px;
  }

  &-md {
    @extend .btn;
    padding: 20px 24px;
    font-size: 18px;
  }
}
